.login_content {
    margin: 12px 70px;
    width:280px;
    text-align: left;
}
.login_content .login_input {
    height: 40px;
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    border:2px solid #ffffff;
    border-radius: 3px;
    width: 280px;
} 
