<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmbc.devops.dao.AuthorityMapper">
	<resultMap id="BaseResultMap" type="com.cmbc.devops.entity.Authority">
		<id column="ACTION_ID" property="actionId" jdbcType="INTEGER" />
		<result column="ACTION_NAME" property="actionName" jdbcType="VARCHAR" />
		<result column="ACTION_DESC" property="actionDesc" jdbcType="VARCHAR" />
		<result column="ACTION_RELATIVE_URL" property="actionRelativeUrl"
			jdbcType="VARCHAR" />
		<result column="ACTION_TYPE" property="actionType" jdbcType="TINYINT" />
		<result column="ACTION_REMARKS" property="actionRemarks"
			jdbcType="VARCHAR" />
		<result column="ACTION_PARENT_ID" property="actionParentId"
			jdbcType="INTEGER" />
		<result column="PARENT_ACTION_NAME" property="parentActionName"
			jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		ACTION_ID, ACTION_NAME, ACTION_DESC, ACTION_RELATIVE_URL,
		ACTION_TYPE,
		ACTION_REMARKS,
		ACTION_PARENT_ID
	</sql>

	<!-- -->
	<select id="selectAll" resultMap="BaseResultMap"
		parameterType="com.cmbc.devops.entity.Authority">
		select
		a.ACTION_ID, a.ACTION_NAME, a.ACTION_DESC,
		a.ACTION_RELATIVE_URL, a.ACTION_TYPE, a.ACTION_REMARKS,
		a.ACTION_PARENT_ID,b.ACTION_NAME as PARENT_ACTION_NAME
		from dop_action
		a left join dop_action b on a.ACTION_PARENT_ID = b.ACTION_ID
		where 1 =
		1
		<if test="actionName != null and actionName !=''">
			AND a.ACTION_NAME LIKE '%${actionName}%'
		</if>
		<if test="actionDesc != null and actionDesc !=''">
			AND a.ACTION_DESC LIKE '%${actionDesc}%'
		</if>
		<if test="actionRelativeUrl != null and actionRelativeUrl !=''">
			AND a.ACTION_RELATIVE_URL LIKE '%${actionRelativeUrl}%'
		</if>
		<if test="actionType != null">
			AND a.ACTION_TYPE = #{actionType}
		</if>
		<if test="actionRemarks != null and actionRemarks !=''">
			AND a.ACTION_REMARKS LIKE '%${actionRemarks}%'
		</if>
	</select>

	<!-- -->
	<select id="selectAuthoritiesByUserId" resultMap="BaseResultMap"
		parameterType="Integer">
		select
		<include refid="Base_Column_List" />
		FROM dop_action
		WHERE
		dop_action.ACTION_ID IN (
		SELECT
		dop_role_action.ACTION_ID
		FROM
		dop_role_action
		WHERE
		ROLE_ID IN (
		SELECT
		dop_user_role.ROLE_ID
		FROM
		dop_user_role
		WHERE
		dop_user_role.USER_ID =
		#{_parameter}
		)
		)
	</select>

	<!-- -->
	<select id="selectAuthoritiesByActionParentId" resultMap="BaseResultMap"
		parameterType="Integer">
		select
		<include refid="Base_Column_List" />
		from dop_action
		where 1 = 1
		AND ACTION_PARENT_ID = #{_parameter}
	</select>
	<!-- -->
	<select id="selectById" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from dop_action
		where ACTION_ID = #{actionId,jdbcType=INTEGER}
	</select>
	<select id="selectAuthoritiesByRoleId" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		dop_action
		WHERE
		ACTION_ID IN (
		SELECT
		ACTION_ID
		FROM
		dop_role_action
		WHERE
		ROLE_ID = #{roleId}
		)
		AND ACTION_PARENT_ID = #{authId}
	</select>

	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from
		dop_action
		where ACTION_ID = #{actionId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.cmbc.devops.entity.Authority">
		<selectKey resultType="java.lang.Integer" keyProperty="actionId"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into dop_action
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="actionName != null and actionName != ''">
				ACTION_NAME,
			</if>
			<if test="actionDesc != null and actionDesc != ''">
				ACTION_DESC,
			</if>
			<if test="actionRelativeUrl != null and actionRelativeUrl != ''">
				ACTION_RELATIVE_URL,
			</if>
			<if test="actionType != null ">
				ACTION_TYPE,
			</if>
			<if test="actionRemarks != null and actionRemarks != ''">
				ACTION_REMARKS,
			</if>
			<if test="actionParentId != null ">
				ACTION_PARENT_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="actionName != null and actionName != ''">
				#{actionName,jdbcType=VARCHAR},
			</if>
			<if test="actionDesc != null and actionDesc != ''">
				#{actionDesc,jdbcType=VARCHAR},
			</if>
			<if test="actionRelativeUrl != null and actionRelativeUrl != ''">
				#{actionRelativeUrl,jdbcType=VARCHAR},
			</if>
			<if test="actionType != null ">
				#{actionType,jdbcType=TINYINT},
			</if>
			<if test="actionRemarks != null and actionRemarks != ''">
				#{actionRemarks,jdbcType=VARCHAR},
			</if>
			<if test="actionParentId != null ">
				#{actionParentId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="com.cmbc.devops.entity.Authority">
		update dop_action
		<set>
			<if test="actionName != null and actionName != ''">
				ACTION_NAME = #{actionName,jdbcType=VARCHAR},
			</if>
			<if test="actionDesc != null">
				ACTION_DESC = #{actionDesc,jdbcType=VARCHAR},
			</if>
			<if test="actionRelativeUrl != null and actionRelativeUrl != ''">
				ACTION_RELATIVE_URL =
				#{actionRelativeUrl,jdbcType=VARCHAR},
			</if>
			<if test="actionType != null ">
				ACTION_TYPE = #{actionType,jdbcType=TINYINT},
			</if>
			<if test="actionRemarks != null and actionRemarks != ''">
				ACTION_REMARKS = #{actionRemarks,jdbcType=VARCHAR},
			</if>
			<if test="actionParentId != null ">
				ACTION_PARENT_ID = #{actionParentId,jdbcType=INTEGER},
			</if>
		</set>
		where ACTION_ID = #{actionId,jdbcType=INTEGER}
	</update>
</mapper>