<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmbc.devops.dao.ClusterMapper">

	<resultMap id="BaseResultMap" type="com.cmbc.devops.entity.Cluster">
		<id column="CLUSTER_ID" property="clusterId" jdbcType="INTEGER" />
		<result column="CLUSTER_UUID" property="clusterUuid" jdbcType="VARCHAR" />
		<result column="CLUSTER_NAME" property="clusterName" jdbcType="VARCHAR" />
		<result column="CLUSTER_TYPE" property="clusterType" jdbcType="TINYINT" />
		<result column="CLUSTER_STATUS" property="clusterStatus"
			jdbcType="TINYINT" />
		<result column="CLUSTER_PORT" property="clusterPort" jdbcType="VARCHAR" />
		<result column="CLUSTER_MODE" property="clusterMode" jdbcType="TINYINT" />
		<result column="MANAGE_PATH" property="managePath" jdbcType="VARCHAR" />
		<result column="CLUSTER_LOG_FILE" property="clusterLogFile"
			jdbcType="VARCHAR" />
		<result column="CLUSTER_DESC" property="clusterDesc" jdbcType="VARCHAR" />
		<result column="MASTE_HOST_ID" property="masteHostId" jdbcType="INTEGER" />
		<result column="CLUSTER_CREATETIME" property="clusterCreatetime"
			jdbcType="TIMESTAMP" />
		<result column="CLUSTER_CREATOR" property="clusterCreator"
			jdbcType="INTEGER" />
		<result column="TENANT_ID" property="tenantId" jdbcType="INTEGER" />
		<result column="CLUSTER_RES_TYPE" property="resType" jdbcType="TINYINT" />
	</resultMap>

	<resultMap id="BaseResultMapWithIPAndUser" type="com.cmbc.devops.entity.ClusterWithIPAndUser">
		<id column="CLUSTER_ID" property="clusterId" jdbcType="INTEGER" />
		<result column="CLUSTER_UUID" property="clusterUuid" jdbcType="VARCHAR" />
		<result column="CLUSTER_NAME" property="clusterName" jdbcType="VARCHAR" />
		<result column="CLUSTER_TYPE" property="clusterType" jdbcType="TINYINT" />
		<result column="CLUSTER_STATUS" property="clusterStatus"
			jdbcType="TINYINT" />
		<result column="CLUSTER_PORT" property="clusterPort" jdbcType="VARCHAR" />
		<result column="CLUSTER_MODE" property="clusterMode" jdbcType="TINYINT" />
		<result column="MANAGE_PATH" property="managePath" jdbcType="VARCHAR" />
		<result column="CLUSTER_LOG_FILE" property="clusterLogFile"
			jdbcType="VARCHAR" />
		<result column="CLUSTER_DESC" property="clusterDesc" jdbcType="VARCHAR" />
		<result column="MASTE_HOST_ID" property="masteHostId" jdbcType="INTEGER" />
		<result column="CLUSTER_CREATETIME" property="clusterCreatetime"
			jdbcType="TIMESTAMP" />
		<result column="CLUSTER_CREATOR" property="clusterCreator"
			jdbcType="INTEGER" />
		<result column="HOST_IP" property="hostIP" jdbcType="VARCHAR" />
		<result column="USER_NAME" property="creatorName" jdbcType="VARCHAR" />
		<result column="TENANT_ID" property="tenantId" jdbcType="INTEGER" />

		<result column="HOST_NUM" property="hostNum" jdbcType="INTEGER" />
		<result column="CPU" property="CPU" jdbcType="INTEGER" />
		<result column="MEM" property="MEM" jdbcType="INTEGER" />
		<result column="CLUSTER_RES_TYPE" property="resType" jdbcType="TINYINT" />
	</resultMap>

	<sql id="Base_Column_List">
		CLUSTER_ID, CLUSTER_UUID, CLUSTER_NAME, CLUSTER_TYPE,
		CLUSTER_STATUS,
		CLUSTER_PORT,
		CLUSTER_MODE,
		MANAGE_PATH,CLUSTER_LOG_FILE, CLUSTER_DESC, MASTE_HOST_ID,
		CLUSTER_CREATETIME, CLUSTER_CREATOR, TENANT_ID,CLUSTER_RES_TYPE
	</sql>

	<!-- Select all cluster -->
	<select id="selectAllCluster" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from dop_cluster
		where CLUSTER_STATUS != 0 order by CLUSTER_CREATETIME
		desc
		<!-- <if test="clusterStatus !=null and clusterStatus !=''"> And CLUSTER_STATUS 
			= #{clusterStatus,jdbcType=TINYINT} </if> <if test="masteHostId !=null and 
			masteHostId !=''"> And MASTE_HOST_ID = #{masteHostId,jdbcType=INTEGER} </if> -->
	</select>

	<!-- Select all cluster -->
	<select id="getOrphanClus" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from dop_cluster
		where CLUSTER_STATUS != 0 and TENANT_ID is NULL order
		by CLUSTER_CREATETIME
		desc
	</select>

	<!-- 批量更新，将集群划入租户资源中 -->
	<select id="updateClusterInTenant" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		update dop_cluster
		set TENANT_ID=#{tenantId} where CLUSTER_ID in
		<foreach collection="clusterIdList" index="index" item="clusterIds"
			open="(" separator="," close=")">
			#{clusterIds}
		</foreach>
	</select>

	<!-- Select all cluster with ip and user -->
	<select id="selectAllClusterWithIPAndUser" resultMap="BaseResultMapWithIPAndUser"
		parameterType="com.cmbc.devops.entity.ClusterWithIPAndUser">
		SELECT
		*
		FROM
		(SELECT
		clu.CLUSTER_ID CLUSTER_ID,
		clu.CLUSTER_UUID CLUSTER_UUID,
		clu.CLUSTER_NAME CLUSTER_NAME,
		clu.CLUSTER_TYPE CLUSTER_TYPE,
		clu.CLUSTER_STATUS CLUSTER_STATUS,
		clu.CLUSTER_PORT CLUSTER_PORT,
		clu.CLUSTER_MODE CLUSTER_MODE,
		clu.MANAGE_PATH MANAGE_PATH,
		clu.CLUSTER_LOG_FILE CLUSTER_LOG_FILE,
		clu.CLUSTER_DESC CLUSTER_DESC,
		clu.MASTE_HOST_ID MASTE_HOST_ID,
		clu.CLUSTER_RES_TYPE CLUSTER_RES_TYPE,
		USER .USER_NAME,
		HOST .HOST_IP,
		clu.CLUSTER_CREATETIME,
		clu.CLUSTER_CREATOR
		FROM
		dop_cluster clu,
		dop_host HOST,
		dop_user USER
		WHERE
		clu.MASTE_HOST_ID = HOST .HOST_ID
		AND clu.CLUSTER_STATUS != 0
		AND clu.CLUSTER_CREATOR =
		USER .USER_ID
		<if test="clusterStatus !=null and clusterStatus !=''">
			AND clu.CLUSTER_STATUS = #{clusterStatus,jdbcType=TINYINT}
		</if>
		<if test="masteHostId !=null and masteHostId !=''">
			AND clu.MASTE_HOST_ID = #{masteHostId,jdbcType=INTEGER}
		</if>
		<if test="clusterName!=null and clusterName!=''">
			AND clu.CLUSTER_NAME like '%${clusterName}%'
		</if>
		<if test="clusterPort!=null and clusterPort!=''">
			AND clu.CLUSTER_PORT like '%${clusterPort}%'
		</if>
		<if test="hostIP!=null and hostIP!=''">
			AND host.HOST_IP like '%${hostIP}%'
		</if>
		<if test="creatorName!=null and creatorName!=''">
			AND user.USER_NAME like '%${creatorName}%'
		</if>
		<!-- 租户资源ID为0，属于超级管理员资源内 -->
		<if test="tenantId != null and tenantId != 0">
			AND clu.TENANT_ID = #{tenantId,jdbcType=INTEGER}
		</if>
		) a
		LEFT JOIN (
		SELECT
		COUNT(h.HOST_ID) HOST_NUM,
		SUM(h.HOST_CPU) CPU,
		SUM(h.HOST_MEM) MEM,
		c.CLUSTER_ID ID
		FROM
		dop_cluster c,
		dop_host h
		WHERE
		c.CLUSTER_STATUS = 1
		AND c.CLUSTER_ID = h.CLUSTER_ID
		GROUP BY
		ID
		) b ON a.CLUSTER_ID = b.ID
	</select>

	<!-- 根据集群的ID进行查询 -->
	<select id="selectCluster" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from dop_cluster
		where CLUSTER_ID = #{clusterId,jdbcType=INTEGER} AND
		CLUSTER_STATUS != 0
	</select>

	<!-- 查询同一个应用下面的所有集群 -->
	<select id="selectClusterInApp" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from dop_cluster
		where CLUSTER_ID in (select CLUSTER_ID FROM
		dop_cluster_app where app_id = #{APP_ID,jdbcType=INTEGER} ) AND
		CLUSTER_STATUS != 0
	</select>

	<select id="selectClusterByName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from dop_cluster
		where CLUSTER_NAME = #{clusterName,jdbcType=VARCHAR}
		AND
		CLUSTER_STATUS != 0
	</select>

	<select id="selectClusterByConf" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from dop_cluster
		where MANAGE_PATH = #{managePath,jdbcType=VARCHAR} AND
		CLUSTER_STATUS != 0
	</select>

	<select id="selectClusterBySlaveHostId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from dop_cluster
		where CLUSTER_ID = (select CLUSTER_ID from dop_host
		where HOST_ID = #{hostId,jdbcType=INTEGER}) AND CLUSTER_STATUS != 0
	</select>

	<select id="selectClustersByMasterhostId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from dop_cluster
		where MASTE_HOST_ID = #{masteHostId,jdbcType=INTEGER}
		AND
		CLUSTER_STATUS != 0
	</select>

	<update id="deleteCluster" parameterType="java.lang.Integer">
		update dop_cluster
		<set>
			CLUSTER_STATUS = 0
		</set>
		where CLUSTER_ID = #{clusterId,jdbcType=INTEGER} AND CLUSTER_STATUS !=
		0
	</update>

	<update id="deleteClusters" parameterType="java.util.List">
		update dop_cluster
		<set>
			CLUSTER_STATUS = 0
		</set>
		where CLUSTER_ID in
		<foreach collection="list" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</update>

	<insert id="insertCluster" parameterType="com.cmbc.devops.entity.Cluster">
		<selectKey resultType="java.lang.Integer" keyProperty="clusterId"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into dop_cluster
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="clusterUuid != null and clusterUuid != ''">
				CLUSTER_UUID,
			</if>
			<if test="clusterName != null and clusterName != ''">
				CLUSTER_NAME,
			</if>
			<if test="clusterType != null ">
				CLUSTER_TYPE,
			</if>
			<if test="clusterStatus != null ">
				CLUSTER_STATUS,
			</if>
			<if test="clusterPort != null and clusterPort != ''">
				CLUSTER_PORT,
			</if>
			<if test="clusterMode != null">
				CLUSTER_MODE,
			</if>
			<if test="managePath != null and managePath != ''">
				MANAGE_PATH,
			</if>
			<if test="clusterLogFile != null and clusterLogFile != ''">
				CLUSTER_LOG_FILE,
			</if>
			<if test="clusterDesc != null and clusterDesc != ''">
				CLUSTER_DESC,
			</if>
			<if test="masteHostId != null ">
				MASTE_HOST_ID,
			</if>
			<if test="clusterCreatetime != null ">
				CLUSTER_CREATETIME,
			</if>
			<if test="clusterCreator != null ">
				CLUSTER_CREATOR,
			</if>
			<if test="tenantId !=null ">
				TENANT_ID,
			</if>
			<if test="resType !=null ">
				CLUSTER_RES_TYPE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="clusterUuid != null and clusterUuid != ''">
				#{clusterUuid,jdbcType=VARCHAR},
			</if>
			<if test="clusterName != null and clusterName != ''">
				#{clusterName,jdbcType=VARCHAR},
			</if>
			<if test="clusterType != null ">
				#{clusterType,jdbcType=TINYINT},
			</if>
			<if test="clusterStatus != null ">
				#{clusterStatus,jdbcType=TINYINT},
			</if>
			<if test="clusterPort != null and clusterPort != ''">
				#{clusterPort,jdbcType=VARCHAR},
			</if>
			<if test="clusterMode != null">
				#{clusterMode,jdbcType=TINYINT},
			</if>
			<if test="managePath != null and managePath != ''">
				#{managePath,jdbcType=VARCHAR},
			</if>
			<if test="clusterLogFile != null and clusterLogFile != ''">
				#{clusterLogFile,jdbcType=VARCHAR},
			</if>
			<if test="clusterDesc != null and clusterDesc != ''">
				#{clusterDesc,jdbcType=VARCHAR},
			</if>
			<if test="masteHostId != null ">
				#{masteHostId,jdbcType=INTEGER},
			</if>
			<if test="clusterCreatetime != null ">
				#{clusterCreatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="clusterCreator != null ">
				#{clusterCreator,jdbcType=INTEGER},
			</if>
			<if test="tenantId !=null ">
				#{tenantId,jdbcType=INTEGER},
			</if>
			<if test="resType !=null ">
				#{resType,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>

	<update id="updateCluster" parameterType="com.cmbc.devops.entity.Cluster">
		update dop_cluster
		<set>
			<if test="clusterUuid != null and clusterUuid != ''">
				CLUSTER_UUID = #{clusterUuid,jdbcType=VARCHAR},
			</if>
			<if test="clusterName != null and clusterName != ''">
				CLUSTER_NAME = #{clusterName,jdbcType=VARCHAR},
			</if>
			<if test="clusterType != null ">
				CLUSTER_TYPE = #{clusterType,jdbcType=TINYINT},
			</if>
			<if test="clusterStatus != null ">
				CLUSTER_STATUS = #{clusterStatus,jdbcType=TINYINT},
			</if>
			<if test="clusterPort != null and clusterPort != ''">
				CLUSTER_PORT = #{clusterPort,jdbcType=VARCHAR},
			</if>
			<if test="clusterMode != null">
				CLUSTER_MODE = #{clusterMode,jdbcType=TINYINT},
			</if>
			<if test="managePath != null and managePath != ''">
				MANAGE_PATH = #{managePath,jdbcType=VARCHAR},
			</if>
			<if test="clusterLogFile != null and clusterLogFile != ''">
				CLUSTER_LOG_FILE = #{clusterLogFile,jdbcType=VARCHAR},
			</if>
			CLUSTER_DESC = #{clusterDesc,jdbcType=VARCHAR},
			<if test="masteHostId != null ">
				MASTE_HOST_ID = #{masteHostId,jdbcType=INTEGER},
			</if>
			<if test="clusterCreatetime != null ">
				CLUSTER_CREATETIME =
				#{clusterCreatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="clusterCreator != null ">
				CLUSTER_CREATOR = #{clusterCreator,jdbcType=INTEGER},
			</if>
		</set>
		where CLUSTER_ID = #{clusterId,jdbcType=INTEGER}
	</update>
</mapper>