<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmbc.devops.dao.HostMapper">
	<resultMap id="BaseResultMap" type="com.cmbc.devops.entity.Host">
		<id column="HOST_ID" property="hostId" jdbcType="INTEGER" />
		<result column="HOST_UUID" property="hostUuid" jdbcType="VARCHAR" />
		<result column="HOST_NAME" property="hostName" jdbcType="VARCHAR" />
		<result column="HOST_USER" property="hostUser" jdbcType="VARCHAR" />
		<result column="HOST_PWD" property="hostPwd" jdbcType="VARCHAR" />
		<result column="HOST_TYPE" property="hostType" jdbcType="TINYINT" />
		<result column="HOST_IP" property="hostIp" jdbcType="VARCHAR" />
		<result column="HOST_CPU" property="hostCpu" jdbcType="INTEGER" />
		<result column="HOST_MEM" property="hostMem" jdbcType="INTEGER" />
		<result column="HOST_STATUS" property="hostStatus" jdbcType="TINYINT" />
		<result column="HOST_REAL_NAME" property="hostRealName" jdbcType="VARCHAR" />
		<result column="HOST_DESC" property="hostDesc" jdbcType="VARCHAR" />
		<result column="HOST_KERNEL_VERSION" property="hostKernelVersion"
			jdbcType="VARCHAR" />
		<result column="CLUSTER_ID" property="clusterId" jdbcType="INTEGER" />
		<result column="HOST_CREATETIME" property="hostCreatetime"
			jdbcType="TIMESTAMP" />
		<result column="HOST_CREATOR" property="hostCreator" jdbcType="INTEGER" />

		<result column="CLUSTER_NAME" property="clusterName" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		HOST_ID, HOST_UUID, HOST_NAME, HOST_USER,
		AES_DECRYPT(HOST_PWD,'cmbc1234!@#$') as HOST_PWD,
		HOST_TYPE, HOST_IP,
		HOST_CPU,
		HOST_MEM, HOST_STATUS,HOST_REAL_NAME, HOST_DESC,
		HOST_KERNEL_VERSION,
		CLUSTER_ID,
		HOST_CREATETIME,
		HOST_CREATOR
	</sql>

	<!-- Select all host -->
	<select id="selectAllHost" resultMap="BaseResultMap"
		parameterType="com.cmbc.devops.entity.Host">
		select
		<include refid="Base_Column_List" />
		from dop_host
		where 1=1 AND HOST_STATUS != 0
		<if test="hostName !=null and hostName!=''">
			And HOST_NAME like '%${hostName}%'
		</if>
		<if test="hostType !=null">
			And HOST_TYPE = #{hostType,jdbcType=TINYINT}
		</if>
		order by HOST_CREATETIME desc
	</select>

	<select id="getListBySoftId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		SELECT
		hos.HOST_ID, hos.HOST_UUID, hos.HOST_NAME,
		hos.HOST_USER,
		hos.HOST_TYPE, hos.HOST_IP,
		hos.HOST_STATUS,
		hos.HOST_DESC,
		hos.HOST_KERNEL_VERSION,
		hos.CLUSTER_ID,
		cluster.CLUSTER_NAME
		FROM
		dop_host hos,
		dop_host_soft hs,
		dop_cluster
		cluster
		WHERE
		hs.SW_ID = #{softId,jdbcType=INTEGER}
		AND hos.HOST_ID=
		hs.HOST_ID
		AND cluster.CLUSTER_ID=hos.CLUSTER_ID
		order by
		HOST_CREATETIME desc
	</select>


	<select id="selectAllHostByLBId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		FROM dop_host host,dop_loadbalance lb
		WHERE
		host.HOST_ID=lb.LB_MAIN_HOST
		AND
		lb.LB_ID=#{lbid,jdbcType=INTEGER}
		AND
		host.HOST_STATUS != 0
		UNION
		select
		<include refid="Base_Column_List" />
		FROM dop_host host,dop_loadbalance lb
		WHERE
		host.HOST_ID=lb.LB_BACKUP_HOST
		AND
		lb.LB_ID=#{lbid,jdbcType=INTEGER}
		AND
		host.HOST_STATUS != 0
	</select>

	<!-- Select all host Via HostWithUser -->
	<select id="selectHostByHostUser" resultMap="BaseResultMap"
		parameterType="com.cmbc.devops.entity.HostWithUser">
		select
		host.HOST_ID, host.HOST_UUID, host.HOST_NAME, host.HOST_USER,
		AES_DECRYPT(host.HOST_PWD,'cmbc1234!@#$') as HOST_PWD,
		host.HOST_TYPE,
		host.HOST_IP,
		host.HOST_CPU,
		host.HOST_MEM,
		host.HOST_STATUS,
		host.HOST_DESC,
		host.HOST_KERNEL_VERSION,
		host.CLUSTER_ID,
		host.HOST_CREATETIME,
		host.HOST_CREATOR
		from dop_host
		host, dop_user user
		where 1=1 AND
		host.HOST_STATUS != 0
		AND
		host.HOST_CREATOR = user.USER_ID
		<if test="hostName !=null and hostName!=''">
			AND host.HOST_NAME like '%${hostName}%'
		</if>
		<if test="hostType != null ">
			AND host.HOST_TYPE=#{hostType,jdbcType=TINYINT}
		</if>
		<if test="hostCpu != null ">
			AND host.HOST_CPU=#{hostCpu,jdbcType=INTEGER}
		</if>
		<if test="creatorName!=null and creatorName!=''">
			AND user.USER_NAME like '%${creatorName}%'
		</if>
		order by host.HOST_CREATETIME desc
	</select>
	<!-- Select all host Via HostWithUser Finished -->

	<!-- Select hostList -->
	<select id="selectHostList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from dop_host
		where HOST_TYPE = #{hostType,jdbcType=TINYINT} AND
		HOST_STATUS != 0 AND HOST_ID NOT IN
		(SELECT
		dop_loadbalance.LB_MAIN_HOST hid
		FROM
		dop_loadbalance WHERE LB_MAIN_HOST
		is NOT NULL AND LB_STATUS!=0
		UNION
		SELECT
		dop_loadbalance.LB_BACKUP_HOST
		hid
		FROM
		dop_loadbalance WHERE LB_BACKUP_HOST is NOT NULL AND
		LB_STATUS!=0)
	</select>

	<!-- Select hostList not belong any cluster -->
	<select id="selectHostListByCluster" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from dop_host
		where HOST_TYPE = #{hostType,jdbcType=TINYINT} AND
		HOST_STATUS != 0 AND CLUSTER_ID IS NULL OR CLUSTER_ID = 0
	</select>

	<!-- Select hostList -->
	<select id="selectHostListByClusterId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from dop_host
		where CLUSTER_ID = #{clusterId,jdbcType=INTEGER} AND
		HOST_STATUS != 0
	</select>

	<select id="selectHost" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from dop_host
		where HOST_ID = #{hostId,jdbcType=INTEGER} AND
		HOST_STATUS != 0
	</select>

	<select id="selectHostByName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from dop_host
		where HOST_NAME = #{hostName,jdbcType=VARCHAR} AND
		HOST_STATUS != 0
	</select>

	<select id="selectHostByIp" resultMap="BaseResultMap"
		parameterType="com.cmbc.devops.entity.Host">
		select
		<include refid="Base_Column_List" />
		from dop_host
		where HOST_IP = #{hostIp,jdbcType=VARCHAR} AND HOST_TYPE
		= #{hostType,jdbcType=VARCHAR} AND
		HOST_STATUS != 0
	</select>

	<!-- 根据主机的ID链表，查询所有主机结果链表 -->
	<select id="selectHostListByHostIds" resultMap="BaseResultMap"
		parameterType="java.util.List">
		select
		<include refid="Base_Column_List" />
		from dop_host
		where HOST_STATUS != 0 AND HOST_ID in
		<foreach collection="list" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	<!-- 批量更新，将集群划入租户资源中 -->
	<select id="updateHostInCluster" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		update dop_host
		set CLUSTER_ID=#{clusterId} where HOST_ID in
		<foreach collection="hostIdList" index="index" item="hostIds"
			open="(" separator="," close=")">
			#{hostIds}
		</foreach>
	</select>

	<update id="deleteHost" parameterType="java.lang.Integer">
		update dop_host
		<set>
			HOST_STATUS = 0
		</set>
		where HOST_ID = #{hostId,jdbcType=INTEGER}
	</update>

	<update id="deleteHosts" parameterType="java.util.List">
		update dop_host
		<set>
			HOST_STATUS = 0
		</set>
		where HOST_ID in
		<foreach collection="list" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</update>

	<insert id="insertHost" parameterType="com.cmbc.devops.entity.Host">
		<selectKey resultType="java.lang.Integer" keyProperty="hostId"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into dop_host
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="hostUuid != null and hostUuid != ''">
				HOST_UUID,
			</if>
			<if test="hostName != null and hostName != ''">
				HOST_NAME,
			</if>
			<if test="hostUser != null and hostUser != ''">
				HOST_USER,
			</if>
			<if test="hostPwd != null and hostPwd != ''">
				HOST_PWD,
			</if>
			<if test="hostType != null ">
				HOST_TYPE,
			</if>
			<if test="hostIp != null and hostIp != ''">
				HOST_IP,
			</if>
			<if test="hostCpu != null ">
				HOST_CPU,
			</if>
			<if test="hostMem != null ">
				HOST_MEM,
			</if>
			<if test="hostStatus != null ">
				HOST_STATUS,
			</if>
			<if test="hostRealName != null ">
				HOST_REAL_NAME,
			</if>
			<if test="hostDesc != null and hostDesc != ''">
				HOST_DESC,
			</if>
			<if test="hostKernelVersion != null and hostKernelVersion != ''">
				HOST_KERNEL_VERSION,
			</if>
			<if test="clusterId != null ">
				CLUSTER_ID,
			</if>
			<if test="hostCreatetime != null ">
				HOST_CREATETIME,
			</if>
			<if test="hostCreator != null ">
				HOST_CREATOR,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="hostUuid != null and hostUuid != ''">
				#{hostUuid,jdbcType=VARCHAR},
			</if>
			<if test="hostName != null and hostName != ''">
				#{hostName,jdbcType=VARCHAR},
			</if>
			<if test="hostUser != null and hostUser != ''">
				#{hostUser,jdbcType=VARCHAR},
			</if>
			<if test="hostPwd != null and hostPwd != ''">
				AES_ENCRYPT(#{hostPwd,jdbcType=VARCHAR},'cmbc1234!@#$'),
			</if>
			<if test="hostType != null ">
				#{hostType,jdbcType=TINYINT},
			</if>
			<if test="hostIp != null and hostIp != ''">
				#{hostIp,jdbcType=VARCHAR},
			</if>
			<if test="hostCpu != null ">
				#{hostCpu,jdbcType=INTEGER},
			</if>
			<if test="hostMem != null ">
				#{hostMem,jdbcType=INTEGER},
			</if>
			<if test="hostStatus != null ">
				#{hostStatus,jdbcType=TINYINT},
			</if>
			<if test="hostRealName != null ">
				#{hostRealName,jdbcType=VARCHAR},
			</if>
			<if test="hostDesc != null and hostDesc != ''">
				#{hostDesc,jdbcType=VARCHAR},
			</if>
			<if test="hostKernelVersion != null and hostKernelVersion != ''">
				#{hostKernelVersion,jdbcType=VARCHAR},
			</if>
			<if test="clusterId != null ">
				#{clusterId,jdbcType=INTEGER},
			</if>
			<if test="hostCreatetime != null ">
				#{hostCreatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="hostCreator != null ">
				#{hostCreator,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<update id="updateHost" parameterType="com.cmbc.devops.entity.Host">
		update dop_host
		<set>
			<if test="hostUuid != null and hostUuid != ''">
				HOST_UUID = #{hostUuid,jdbcType=VARCHAR},
			</if>
			<if test="hostName != null and hostName != ''">
				HOST_NAME = #{hostName,jdbcType=VARCHAR},
			</if>
			<if test="hostUser != null and hostUser != ''">
				HOST_USER = #{hostUser,jdbcType=VARCHAR},
			</if>
			<if test="hostPwd != null and hostPwd != ''">
				HOST_PWD =
				AES_ENCRYPT(#{hostPwd,jdbcType=VARCHAR},'cmbc1234!@#$'),
			</if>
			<if test="hostType != null ">
				HOST_TYPE = #{hostType,jdbcType=TINYINT},
			</if>
			<if test="hostIp != null and hostIp != ''">
				HOST_IP = #{hostIp,jdbcType=VARCHAR},
			</if>
			<if test="hostCpu != null ">
				HOST_CPU = #{hostCpu,jdbcType=INTEGER},
			</if>
			<if test="hostMem != null ">
				HOST_MEM = #{hostMem,jdbcType=INTEGER},
			</if>
			<if test="hostStatus != null ">
				HOST_STATUS = #{hostStatus,jdbcType=TINYINT},
			</if>
			<if test="hostRealName != null ">
				HOST_REAL_NAME = #{hostRealName,jdbcType=VARCHAR},
			</if>
			HOST_DESC = #{hostDesc,jdbcType=VARCHAR},
			<if test="hostKernelVersion != null and hostKernelVersion != ''">
				HOST_KERNEL_VERSION =
				#{hostKernelVersion,jdbcType=VARCHAR},
			</if>
			CLUSTER_ID = #{clusterId,jdbcType=INTEGER},
			<if test="hostCreatetime != null ">
				HOST_CREATETIME = #{hostCreatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="hostCreator != null ">
				HOST_CREATOR = #{hostCreator,jdbcType=INTEGER},
			</if>
		</set>
		where HOST_ID = #{hostId,jdbcType=INTEGER}
	</update>
</mapper>