<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmbc.devops.dao.LoadBalanceMapper">
	<resultMap id="BaseResultMap" type="com.cmbc.devops.entity.LoadBalance">
		<id column="LB_ID" property="lbId" jdbcType="INTEGER" />
		<result column="LB_NAME" property="lbName" jdbcType="VARCHAR" />
		<result column="LB_DESC" property="lbDesc" jdbcType="VARCHAR" />
		<result column="LB_MAIN_HOST" property="lbMainHost" jdbcType="INTEGER" />
		<result column="LB_MAIN_CONF" property="lbMainConf" jdbcType="VARCHAR" />
		<result column="LB_BACKUP_HOST" property="lbBackupHost"
			jdbcType="INTEGER" />
		<result column="LB_BACKUP_CONF" property="lbBackupConf"
			jdbcType="VARCHAR" />
		<result column="LB_CREATETIME" property="lbCreatetime"
			jdbcType="TIMESTAMP" />
		<result column="LB_CREATOR" property="lbCreator" jdbcType="INTEGER" />
		<result column="LB_STATUS" property="lbStatus" jdbcType="TINYINT" />
	</resultMap>

	<sql id="Base_Column_List">
		LB_ID, LB_NAME, LB_DESC, LB_MAIN_HOST, LB_MAIN_CONF,
		LB_BACKUP_HOST,
		LB_BACKUP_CONF,
		LB_CREATETIME, LB_CREATOR, LB_STATUS
	</sql>

	<!-- Get all loadBalance list -->
	<select id="selectAll" resultMap="BaseResultMap"
		parameterType="com.cmbc.devops.entity.LoadBalance">
		select
		<include refid="Base_Column_List" />
		from dop_loadbalance
		where 1=1 and LB_STATUS != 0
		<if test="lbName!=null and lbName!=''">
			And LB_NAME like '%${lbName}%'
		</if>
		<if test="lbMainConf!=null and lbMainConf!=''">
			And LB_MAIN_CONF like '%${lbMainConf}%'
		</if>
		<if test="lbDesc!=null and lbDesc!=''">
			And LB_DESC like '%${lbDesc}%'
		</if>
		order by LB_CREATETIME DESC
	</select>

	<!-- Get one loadBalance -->
	<select id="selectLoadBalance" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from dop_loadbalance
		where LB_ID = #{lbId,jdbcType=INTEGER} and
		LB_STATUS !=0
	</select>

	<select id="selectLbByName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from dop_loadbalance
		where LB_NAME = #{lbName,jdbcType=VARCHAR} and
		LB_STATUS !=0
	</select>

	<select id="selectLoadBalanceByConId" resultMap="BaseResultMap">
		select lb.* from dop_loadbalance as lb inner join(
		select distinct
		app.balance_id as lbid from dop_app as app inner join
		dop_container as c on c.con_id in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
		and c.con_status !=0 and c.app_id = app.app_id) as comp on lb.lb_id =
		comp.lbid and lb.lb_status !=0;
	</select>

	<select id="selectLoadBalanceByHostId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from dop_loadbalance
		where 1=1 AND LB_STATUS != 0
		AND (LB_MAIN_HOST =
		#{lbMainHost,jdbcType=INTEGER} OR LB_BACKUP_HOST =
		#{lbMainHost,jdbcType=INTEGER})
	</select>

	<!-- Delete loadBalance -->
	<update id="deleteLoadBalance">
		update dop_loadbalance
		<set>
			LB_STATUS = 0
		</set>
		where LB_ID in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=") ">
			#{item}
		</foreach>
		and LB_STATUS != 0
	</update>

	<!-- Insert loadBalance -->
	<insert id="insertLoadBalance" parameterType="com.cmbc.devops.entity.LoadBalance">
		<selectKey resultType="java.lang.Integer" keyProperty="lbId"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into dop_loadbalance
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="lbName != null and lbName != ''">
				LB_NAME,
			</if>
			<if test="lbDesc != null and lbDesc != ''">
				LB_DESC,
			</if>
			<if test="lbMainHost != null ">
				LB_MAIN_HOST,
			</if>
			<if test="lbMainConf != null and lbMainConf != ''">
				LB_MAIN_CONF,
			</if>
			<if test="lbBackupHost != null ">
				LB_BACKUP_HOST,
			</if>
			<if test="lbBackupConf != null and lbBackupConf != ''">
				LB_BACKUP_CONF,
			</if>
			<if test="lbCreatetime != null ">
				LB_CREATETIME,
			</if>
			<if test="lbCreator != null ">
				LB_CREATOR,
			</if>
			<if test="lbStatus != null ">
				LB_STATUS,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="lbName != null and lbName != ''">
				#{lbName,jdbcType=VARCHAR},
			</if>
			<if test="lbDesc != null and lbDesc != ''">
				#{lbDesc,jdbcType=VARCHAR},
			</if>
			<if test="lbMainHost != null ">
				#{lbMainHost,jdbcType=INTEGER},
			</if>
			<if test="lbMainConf != null and lbMainConf != ''">
				#{lbMainConf,jdbcType=VARCHAR},
			</if>
			<if test="lbBackupHost != null ">
				#{lbBackupHost,jdbcType=INTEGER},
			</if>
			<if test="lbBackupConf != null and lbBackupConf != ''">
				#{lbBackupConf,jdbcType=VARCHAR},
			</if>
			<if test="lbCreatetime != null ">
				#{lbCreatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="lbCreator != null ">
				#{lbCreator,jdbcType=INTEGER},
			</if>
			<if test="lbStatus != null ">
				#{lbStatus,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>

	<!-- Update loadBalance -->
	<update id="updateLoadBalance" parameterType="com.cmbc.devops.entity.LoadBalance">
		update dop_loadbalance
		<set>
			<if test="lbName != null and lbName != ''">
				LB_NAME = #{lbName,jdbcType=VARCHAR},
			</if>
				LB_DESC = #{lbDesc,jdbcType=VARCHAR},
			<if test="lbMainHost != null ">
				LB_MAIN_HOST = #{lbMainHost,jdbcType=INTEGER},
			</if>
			<if test="lbMainConf != null and lbMainConf != ''">
				LB_MAIN_CONF = #{lbMainConf,jdbcType=VARCHAR},
			</if>
			<if test="lbBackupHost != null ">
				LB_BACKUP_HOST = #{lbBackupHost,jdbcType=INTEGER},
			</if>
			<if test="lbBackupConf != null and lbBackupConf != ''">
				LB_BACKUP_CONF = #{lbBackupConf,jdbcType=VARCHAR},
			</if>
			<if test="lbCreatetime != null ">
				LB_CREATETIME = #{lbCreatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="lbCreator != null ">
				LB_CREATOR = #{lbCreator,jdbcType=INTEGER},
			</if>
			<if test="lbStatus != null ">
				LB_STATUS = #{lbStatus,jdbcType=TINYINT},
			</if>
		</set>
		where LB_ID = #{lbId,jdbcType=INTEGER} and LB_STATUS != 0
	</update>

</mapper>