<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmbc.devops.dao.RegImageMapper" >
  <resultMap id="BaseResultMap" type="com.cmbc.devops.entity.RegImage" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="REGISTRY_ID" property="registryId" jdbcType="INTEGER" />
    <result column="IMAGE_ID" property="imageId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, REGISTRY_ID, IMAGE_ID
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dop_reg_img
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="com.cmbc.devops.entity.RegImage" >
    select 
    <include refid="Base_Column_List" />
    from dop_reg_img
    where 1=1
    <if test="registryId != null ">
    	and REGISTRY_ID=#{registryId,jdbcType=INTEGER}
    </if>
    <if test="imageId != null ">
    	and IMAGE_ID=#{imageId,jdbcType=INTEGER}
    </if>
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from dop_reg_img
    where ID = #{id,jdbcType=INTEGER}
  </delete>
   <delete id="deleteByImageId" parameterType="java.lang.Integer" >
    delete from dop_reg_img
    where IMAGE_ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmbc.devops.entity.RegImage" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dop_reg_img
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="registryId != null " >
        REGISTRY_ID,
      </if>
      <if test="imageId != null " >
        IMAGE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="registryId != null " >
        #{registryId,jdbcType=INTEGER},
      </if>
      <if test="imageId != null " >
        #{imageId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.cmbc.devops.entity.RegImage" >
    update dop_reg_img
    <set >
      <if test="registryId != null " >
        REGISTRY_ID = #{registryId,jdbcType=INTEGER},
      </if>
      <if test="imageId != null " >
        IMAGE_ID = #{imageId,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>