<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmbc.devops.dao.UserRoleMapper">
	<resultMap id="BaseResultMap" type="com.cmbc.devops.entity.UserRole">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="USER_ID" property="userId" jdbcType="INTEGER" />
		<result column="ROLE_ID" property="roleId" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		ID, USER_ID, ROLE_ID
	</sql>

	<!-- Select all user and role -->
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from dop_user_role
		where 1 = 1 
		<if test="roleId != null and roleId !=''">
			AND ROLE_ID = #{roleId}
		</if>
		<if test="userId != null and userId !=''">
			AND USER_ID = #{userId}
		</if>
	</select>
	<!-- -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from dop_user_role
		where ID = #{id,jdbcType=INTEGER}
	</select>
	
	<delete id="deleteByUserId" parameterType="java.lang.Integer">
		delete from dop_user_role
		where
		USER_ID = #{userId}
	</delete>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from dop_user_role
		where ID = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.cmbc.devops.entity.UserRole">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into dop_user_role (USER_ID,ROLE_ID)
		values (#{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.cmbc.devops.entity.UserRole">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into dop_user_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null ">
				USER_ID,
			</if>
			<if test="roleId != null ">
				ROLE_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null ">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="roleId != null ">
				#{roleId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.cmbc.devops.entity.UserRole">
		update dop_user_role
		<set>
			<if test="userId != null ">
				USER_ID = #{userId,jdbcType=INTEGER},
			</if>
			<if test="roleId != null ">
				ROLE_ID = #{roleId,jdbcType=INTEGER},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.cmbc.devops.entity.UserRole">
		update dop_user_role
		set USER_ID = #{userId,jdbcType=INTEGER},
		ROLE_ID = #{roleId,jdbcType=INTEGER}
		where ID = #{id,jdbcType=INTEGER}
	</update>
</mapper>