@CHARSET "UTF-8";

div .form-group {
	margin: 10px 0px 5px 0px;
}

.form-group .col-sm-3 {
	width: 100px;
}

.form-group .col-sm-9 {
	width: 84%
}

.form-group .col-sm-9 label span {
	font-size: 16px
}

.form-group .col-sm-9 .item {
	height: 150px;
	margin-left: 4.3px;
}

.form-group .col-sm-9 .itemenv {
	height: 120px;
	margin-left: 4.3px;
}

.form-group .col-sm-9 .item .left {
	float: left;
	width: 39.5%;
	height: 130px
}

.form-group .col-sm-9 .item .leftusershow {
	float: left;
	width: 39.5%;
	height: 200px
}

.form-group .col-sm-9 .itemenv .leftenvshow {
	float: left;
	width: 39.5%;
	height: 120px
}

.form-group .col-sm-9 .item .block {
	float: left;
	width: 100%;
	height: 100px;
	overflow: auto;
	border: 1px solid #ddd;
}

.form-group .col-sm-9 .item .blockUserShow {
	float: left;
	width: 100%;
	height: 170px;
	overflow: auto;
	border: 1px solid #ddd;
}

.form-group .col-sm-9 .itemenv .blockEnvShow {
	float: left;
	width: 100%;
	height: 90px;
	overflow: auto;
	border: 1px solid #ddd;
}

.form-group .col-sm-9 .item .operate {
	float: left;
	width: 20%;
	text-align: center;
	margin-top: 30px
}

.form-group .col-sm-9 .itemenv .operate {
	float: left;
	width: 20%;
	text-align: center;
	margin-top: 30px
}

.form-group .col-sm-9 .item .right {
	float: left;
	width: 39.5%;
	height: 130px
}

.form-group .col-sm-9 .item .rightusershow {
	float: left;
	width: 39.5%;
	height: 200px
}

.form-group .col-sm-9 .itemenv .rightenvshow {
	float: left;
	width: 39.5%;
	height: 120px
}

.form-group .col-sm-9 input[type="text"] {
	height: 30px;
	border: 1px solid #ccc;
}

.list-group-item {
	text-align: center;
	padding: 5px 10px;
}

hr {
	margin: 15px 0px 5px 0px
}

.well {
	margin-bottom: 0px;
}

.btn-group-vertical {
	width: 95%;
}

.btn-group-vertical label {
	text-align: left;
	height: 25px;
	padding-top: 0px;
	font-size: 12px;
}

.btn-group-vertical>.btn:first-child {
	margin-top: 5px;
}

.btn-group-vertical>.btn, .btn-group-vertical>.btn+.btn {
	margin: 3px 5px 0px 5px;
}

.btn.btn-app.btn-xs {
	width: 105px;
	margin-left: 4.3px;
}

ul li.param {
	margin-bottom: 5px;
}

div .touch-spinner {
	vertical-align: middle;
}

select {
	font-size: 14px;
	color: #999;
}