<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
	 -->
	 
	<bean id="boss" class="com.once.cloudmix.spring.autowired.BossBean">
		<property name="car" ref="car" />
	</bean>
	<bean id="car" class="com.once.cloudmix.spring.autowired.beans.Car">
		<property name="number" value="京A20000" />
	</bean>
</beans>
