.once-pane {
	overflow-x:auto; 
} 
.btn {
	float: left;
}
.btn-group{
	position:relative;
	float:left;
}
.summary-item {
	cursor: pointer;
	padding: 8px 20px;
	background: #eee;
	font-size: 14px;
	color: #428bca;
	margin-bottom: 8px;
	margin-right: 5px;
	display: inline-block;
	float: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.summary-time{
	martin-bottom: 20px;
	position:relative;
	float:left;
}
.query-bar .control-label {
	width: 100px;
	padding-left: 20px;
	text-align: left;
}
.query-bar .controls {
	margin-left: 110px;
}
.query-bar label.inline {
	font-size: 14px;
	margin: 0;
	line-height: 35px;
}
.query-bar .form-actions {
	padding-left: 120px;
}
.icon-hand-right {
	display: inline-block;
	float: left;
}
.start,.end {
	float: left;
}
.icon-hand-right, .start-label, .end-label {
	width:90px;
	background: #eee;
	color: #428bca;
	padding-left: 10px;
	padding-top: 8px;
	padding-right: 1px;
	padding-bottom: 8px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.icon-hand-right {
	width: 70px;
}
.start-time, .end-time {
	width: 200px;
	height: 32px;
}
.end-time {
	float: left;
	position: relative;
}
.input-group .form-control {
	width:100%;
}
table {
	margin-top:60px;
}
.find {
	margin-left: 10px;
	height: 33px;
}
.once-toolbar .toolbar-right table{
	margin: 5px 0px 5px 0px;
}
.item .control-label {
	text-align: left;
	width: 10px;
	font-size: 14px;
	line-height: 16px;
	vertical-align: middle;
	padding-top: 0;
}
.item .controls {
	min-height: 16px;
	margin-left: 80px;
	position: relative;
	float: left;
}
.select-con{
	width:90px;
	height:32px;
	background:#428bca;
	border:0px solid #ccc;
	color: #fff;
}
.dropdown-select{
	line-height:16px;
}
.select-con .dropdown-select option{
	border:0px solid;
	color:#428bca;
}
.select-con:after{
	border-color: #fff transparent transparent;
}
.select{
	border-color:#428bca;
}
